{% extends "base.html" %} {% block title %}Valentine's Day - Letter{% endblock
%} {% block content %}
<div class="letter-container">
  <h2>Dear Love,</h2>
  <p>
    I can hardly believe how far we've come together. From late-night Costco
    runs in California to wild parties in Mexico, from the bright lights of New
    York to day drinking in New Orleans, from savoury BBQ in Texas to finding
    comfort in Bali, and from exploring Singapore and Hong Kong to embracing the
    chilly winter nights in Korea. It's amazing to think that it is already been
    almost a year since the world decided two crazy, unhinged people who met on
    the other side of the Earth should be together. We have had our ups and
    downs, but more than anything, I am glad we have made it this far. There are
    times I wish you were right here beside me, and in those moments, it takes
    all my self-control not to book a flight on the spot. The distance is
    hard—for both of us—but at least we are never more than one phone call away.
    I hope you know that from the bottom of my heart, I always care about you,
    even though sometimes I may not show it, even when we fight, even when we
    are both too busy and swarmed to have a long conversation. And most
    importantly, I just wanted to tell you this Valentine's, that I will always
    try my best to be there for you. I love you.
  </p>
  <p>From a boy just 2,500km away, <br />Your Bubs</p>

  <div class="button-wrapper">
    <a class="next-button" href="{{ url_for('will') }}">Next</a>
  </div>
</div>
{% endblock %}
